name: CI

on:
  push:
    branches: [main]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: fish-actions/install-fish@v1.1.0

      - uses: fish-actions/fisher@v1
        with:
          plugins: jorgebucaran/fishtape ilancosman/clownfish $GITHUB_WORKSPACE

      - name: Install fzf and fd
        run: brew install fzf fd

      - name: Run full test suite
        run: |
          set --export _fzf_search_vars_command '_fzf_search_variables (set --show | psub) (set --names | psub)'

          # Let fishtape run fish in interactive mode
          # See https://github.com/jorgebucaran/fishtape/issues/63
          function fish
            command fish -i $argv
          end

          fishtape tests/*/*.fish
        shell: fish {0}
        # timeout in case tests get stuck on fzf
        timeout-minutes: 3

  syntax-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4

      - uses: fish-actions/install-fish@v1

      - uses: fish-actions/syntax-check@v1

  # check Fish format
  format-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4

      - uses: fish-actions/install-fish@v1

      - uses: fish-actions/format-check@v1

  # check Markdown and Yaml format
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actionsx/prettier@v2
        with:
          args: --check .
