name: CI
on:
  push:
    branches: [ main ]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: fish {0}

    steps:
      - uses: actions/checkout@v2

      - uses: fish-actions/install-fish@v1.1.0

      - uses: fish-actions/fisher@v1
        with:
          plugins: jorgebucaran/fishtape ilancosman/clownfish $GITHUB_WORKSPACE

      - name: Install fzf
        run: sudo apt-get install libxml2-utils
        
      - name: Run full test suite
        run: fishtape tests/*
